.headerContainer {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.headerNight {
  background-image: url('../img/bg-mobile-dark.jpg');
}

.headerDay {
  background-image: url('../img/bg-mobile-light.jpg');
}

@media screen and (min-width: 500px) {
  .headerContainer {
    height: 300px;
    background-image: url('../img/bg-desktop-dark.jpg');
    background-position: 15%;
  }

  .headerNight {
    background-image: url('../img/bg-desktop-dark.jpg');
  }
  
  .headerDay {
    background-image: url('../img/bg-desktop-light.jpg');
  }

}