.todoComponent {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  padding: 0 24px 120px;
}

/* List Title */
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.listTitle {
  color: #fff;
  letter-spacing: 12px;
  font-weight: 600;
  font-size: 1.4em;
}

.listMode {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}

.iconNight {
  background-image: url('../img/icon-sun.svg');
}

.iconDay {
  background-image: url('../img/icon-moon.svg');
}


/* Global List Styles */
.listCheckDesign {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  margin-right: 12px;
  color: transparent;
  outline: none;
  cursor: pointer;
  position: relative;
}

.innerButton {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.strokeNotDone { 
  stroke: none;
}

.strokeDone {
  stroke: auto;
}

.listBgNight {
  background-color: var(--DT_DarkBlueDeSat);
}

.listBgDay {
  background-color: var(--LT_White);
}

.inputTextNight,
.strikeNotDoneListTextNight {
  color: var(--DT_LightGray);
  text-decoration: none;
}

.strikeDoneListTextNight {
  color: var(--DT_Gray);
  text-decoration: line-through;
}

.inputTextDay,
.strikeNotDoneListTextDay {
  color: var(--LT_DarkGray);
  text-decoration: none;
}

.strikeDoneListTextDay {
  color: var(--LT_LightGray);
  text-decoration: line-through;
}

.listTextDay::placeholder {
  color: var(--LT_Gray)!important;
}

.listDesignNight {
  background-color: var(--DT_DarkestGray);
}

.innerButtonNight {
  background-color: var(--DT_DarkBlueDeSat);
}

.listDesignNight:hover,
.listDesignDay:hover {
  background-image: linear-gradient(to bottom right , var(--CheckBg1), var(--CheckBg2));
}

.listDesignDay {
  border-color: var(--LT_LighterGray);
}

.innerButtonDay {
  background-color: var(--LT_White);
}

.buttonDone {
  background-color: transparent; 
}

.buttonNotDone {
  background-color: auto; 
}

.listBorderNight {
  border-bottom-color: var(--DT_DarkestGray);
}

.listBorderDay {
  border-bottom-color: var(--LT_LighterGray);
}

.tailItemTextNight {
  color: var(--DT_Gray);
}

.tailItemTextDay {
  color: var(--LT_Gray);
}

.completedItemsNight:hover {
  color: var(--DT_LightGray);
}

.completedItemsDay:hover {
  color: var(--LT_DarkestGray);
}


/* Input */
.listInputContainer {
  border-radius: 4px;
  padding: 14px 20px;
  margin-bottom: 16px;
  display: flex;
  position: relative;
}

.inputErrorOff {
  border: 0;
}

.inputErrorOn {
  border: 2px solid orange;
}

.inputErrorOff::after {
  visibility: hidden;
}

.inputErrorOn::after {
  visibility: visible;
  content: "Enter a valid list item";
  color: orange;
  font-size: .6em;
  font-style: italic;
  position: absolute;
  bottom: 2px;
  left: 52px;
}

.checkBgDone {
  border: 0;
  background-image: linear-gradient(to bottom right , var(--CheckBg1), var(--CheckBg2));
}

.checkBgNotDone {
  background-image: auto;
}

.listInput {
  width: 85%;
  border: 0;
  font-size: .7em;
}

.listInput:focus {
  outline: none;
}

/* Empty List */
.emptyList {
  line-height: 24px;
  font-size: .9em;
  display: flex;
  padding: 16px 20px;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  position: relative;
  align-items: center;
}

.emptyListNight {
  color: var(--DT_LightGray);
}

.emptyListDay {
  color: var(--LT_DarkGray);
}

/* List */
.listContainer {
  border-radius: 4px;
  list-style: none;
  margin-bottom: 12px;
}

.listItem {
  display: flex;
  padding: 16px 20px;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  position: relative;
  align-items: center;
}

.listItemSubject {
  font-size: .7em;
  width: 80%;
}

.closeIcon {
  width: 12px;
  height: 12px;
  background-image: url('../img/icon-cross.svg');
  background-position: center;
  background-size: 100%;
  position: absolute;
  right: 20px;
  opacity: 0;
  cursor: pointer;
}

.dragIconContainer {
  position: absolute;
  left: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dragIconNight {
  fill: var(--DT_DarkerGray);
}

.dragIconDay {
  fill: var(--LT_LightGray);
}

.listItem:hover .closeIcon {
  opacity: 1;
}

.listTailItem {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  position: relative;
}

.tailItemText {
  font-size: .7em;
}

.completedItems {
  cursor: pointer;
}

/* Filter */
.sortContainer {
  border-radius: 4px;
  position: absolute;
  bottom: -72px;
  left: 0;
  right: 0;
}

.sortTextContainer {
  display: flex;
  border-radius: 4px;
  padding: 20px 60px;
  align-items: center;
  justify-content: space-between;
}

.sortText {
  color: var(--DT_Gray);
  font-size: .8em;
}

.tailText,
.completedItems {
  border-bottom: 1px solid transparent;
}

.tailTextNight:hover {
  color: var(--DT_LightGray)!important;
  cursor: pointer;
}

.tailTextDay:hover {
  color: var(--LT_DarkestGray)!important;
  cursor: pointer;
}

/* Tab Accessibility */
.listTab:focus {
  background-image: linear-gradient(to bottom right , var(--CheckBg1), var(--CheckBg2));
  opacity: .8;
}

.closeIcon:focus {
  outline: none;
  opacity: 1;
}

.tailTextNight:focus,
.completedItemsNight:focus {
  outline: none;
  border-bottom: 1px solid hsl(234, 11%, 52%);
}

.tailTextDay:focus,
.completedItemsDay:focus {
  outline: none;
  border-bottom: 1px solid hsl(235, 19%, 35%);
}

@media screen and (min-width: 500px) {
  .todoComponent {
    top: 78px;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    padding: 0 24px 60px;
  }

  /* List Title */
  .titleContainer {
    margin-bottom: 48px;
  }

  .listTitle {
    font-size: 2.2em;
    letter-spacing: 14px;
  }

  .listMode {
    width: 28px;
    height: 28px;
  }

  /* Input */
  .listInputContainer {
    padding: 22px 24px;
    margin-bottom: 22px;
  }

  .inputErrorOn {
    border-width: 3px;
  }

  .inputErrorOn::after {
    font-size: .7em;
    bottom: 4px;
    left: 72px;
  }

  .listCheckDesign {
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }

  .innerButton {
    width: 20px;
    height: 20px;
  }

  .listItemCheck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .listInput {
    font-size: .9em;
  }

  /* List */
  .listItem {
    padding: 22px 24px;
  }
  
  .listItemSubject {
    font-size: .9em;
  }
  
  .closeIcon {
    width: 20px;
    height: 20px;
    right: 24px;
  }

  .dragIcon {
    width: 16px
  }

  /* Filter */
  .sortContainer {
    border-radius: 4px;
    position: absolute;
    bottom: 50%;
    left: 30%;
    right: 36%;
    transform: translateY(50%);
  }

  .sortTextContainer {
    padding: 0px 0px;
    align-items: center;
    justify-content: space-between;
  }

  .tailItemText {
    font-size: .8em;
    font-weight: 400;
  }

  .sortText{
    font-size: .85em;
    font-weight: 600;
  }
}
