.todoComponent {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  padding: 0 24px;
}

/* List Title */
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.listTitle {
  color: #fff;
  letter-spacing: 12px;
  font-weight: 600;
  font-size: 1.4em;
}

.listMode {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}

.dayIcon {
  background-image: url('../img/icon-sun.svg');
}

.nightIcon {
  background-image: url('../img/icon-moon.svg');
}

/* Global List Styles */
.listCheckDesign {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 12px;
  color: transparent;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  outline: none;
  cursor: pointer;
}

.strokeOff { 
  stroke: none;
}

.strokeOn {
  stroke: auto;
}

.listBgNight {
  background-color: var(--DT_DarkBlueDeSat);
}

.listBgDay {
  background-color: var(--LT_White);
}

.listTextNight {
  color: var(--DT_LightGray);
}

.listTextDay {
  color: var(--LT_DarkGray);
}

.listTextDay::placeholder {
  color: var(--LT_Gray);
}

.listDesignNight {
  border-color: var(--DT_DarkestGray);
}

.listDesignDay {
  border-color: var(--LT_LighterGray);
}

.listBorderNight {
  border-bottom-color: var(--DT_DarkestGray);
}

.listBorderDay {
  border-bottom-color: var(--LT_LighterGray);
}

.tailItemTextNight {
  color: var(--DT_DarkerGray);
}

.tailItemTextDay {
  color: var(--LT_LightGray);
}

/* Input */
.listInputContainer {
  border-radius: 4px;
  padding: 14px 20px;
  margin-bottom: 16px;
}

.listComplete {
  border: 0;
  background-image: linear-gradient(to bottom right , var(--CheckBg1), var(--CheckBg2));
}

.listInput {
  width: 85%;
  border: 0;
  font-size: .7em;
}

.listInput:focus {
  outline: none;
}

/* List */
.listContainer {
  border-radius: 4px;
  list-style: none;
  margin-bottom: 12px;
}

.listItem {
  display: flex;
  padding: 16px 20px;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  position: relative;
  align-items: center;
}

.listItemSubject {
  font-size: .7em;
}

.closeIcon {
  width: 12px;
  height: 12px;
  background-image: url('../img/icon-cross.svg');
  background-position: center;
  position: absolute;
  right: 20px;
  opacity: 0;
  cursor: pointer;
}

.listItem:hover .closeIcon {
  opacity: 1;
}

.listTailItem {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.tailItemText {
  font-size: .7em;
}

/* Filter */
.sortContainer {
  border-radius: 4px;
}

.sortTextContainer {
  display: flex;
  border-radius: 4px;
  padding: 20px 80px;
  align-items: center;
  justify-content: space-between;
}

.sortText {
  color: var(--DT_Gray);
  font-size: .8em;
}

.sortAll {
  color: var(--Blue);
}

.completedItemsClear:hover,
.sortText:hover {
  color: var(--DT_LightGray);
  cursor: pointer;
}

