.todoComponent {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  padding: 0 24px;
}

/* List Title */
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.listTitle {
  color: #fff;
  letter-spacing: 12px;
  font-weight: 600;
  font-size: 1.4em;
}

.listMode {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.dayIcon {
  background-image: url('../img/icon-sun.svg');
}

.nightIcon {
  background-image: url('../img/icon-moon.svg');
}

/* Global List Styles */
.listCheckDesign {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 12px;
  color: transparent;
  background-color: transparent;
  border: 2px solid var(--DT_DarkestGray);
}

.strokeOff { 
  stroke: none;
}

.strokeOn {
  stroke: auto;
}


/* Input */
.listInputContainer {
  background-color: var(--DT_DarkBlueDeSat);
  border-radius: 4px;
  padding: 14px 20px;
  margin-bottom: 16px;
}

.listComplete {
  border: 0;
  background-image: linear-gradient(to bottom right , var(--CheckBg1), var(--CheckBg2));
}

.listInput {
  width: 85%;
  background-color: var(--DT_DarkBlueDeSat);
  border: 0;
  color: var(--DT_LightGray);
  font-size: .7em;
}

.listInput:focus {
  outline: none;
}

/* List */
.listContainer {
  background-color: var(--DT_DarkBlueDeSat);
  border-radius: 4px;
  list-style: none;
  margin-bottom: 12px;
}

.listItem {
  display: flex;
  border-radius: 4px;
  padding: 16px 20px;
  border-bottom: 1px solid var(--DT_DarkestGray);
  position: relative;
  align-items: center;
}

.listItemSubject {
  color: var(--DT_LightGray);
  font-size: .7em;
}

.closeIcon {
  width: 12px;
  height: 12px;
  background-image: url('../img/icon-cross.svg');
  background-position: center;
  position: absolute;
  right: 20px;
}

.listTailItem {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.tailItemText {
  color: var(--DT_DarkerGray);
  font-size: .7em;
}

/* Filter */
.sortContainer {
  background-color: var(--DT_DarkBlueDeSat);
  border-radius: 4px;
  
}

.sortTextContainer {
  display: flex;
  border-radius: 4px;
  padding: 20px 80px;
  align-items: center;
  justify-content: space-between;
}

.sortText {
  color: var(--DT_Gray);
  font-size: .8em;
}

.sortText:hover {
  color: var(--Blue);
  cursor: pointer;
}